@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nemo-dark: 12, 52, 61;
  --nemo-text: 255, 255, 255;
}

body {
  color: #FFF;
  background-color: #348b92;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}