@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nemo-dark: 12, 52, 61;
  --nemo-text: 255, 255, 255;
}

body {
  color: rgb(var(--nemo-text));
  background-color: rgb(var(--nemo-dark)) 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-nemo-dark{
  background-color: var(--nemo-dark);
}

.text-nemo{
  color: var(--nemo-text);
}